#root {
  max-width: 90rem;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.leftCorner {
  font-family: "Plus Jakarta Sans ExtraBold";
  padding: 0.625rem;
  margin-right: 20vw;
}

.title {
  color: hsl(224, 21%, 14%);
  font-size: 1.875rem;
  margin-right: 1.25rem;
}

.counter {
  background-color: hsl(224, 21%, 14%);
  color: hsl(0, 0%, 100%);
  border-radius: 0.313rem;
  width: 2.5rem;
  height: 1.875rem;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  padding: 0.313rem;
  margin-top: 0.313rem;
}

.clearnotifications {
  font-family: "Plus Jakarta Sans";
  color: hsl(224, 21%, 14%);
  font-size: 1rem;
  padding: 0.625rem;
}

.clearnotifications_selected {
  font-family: "Plus Jakarta Sans";
  color: hsl(219, 14%, 63%);
  font-size: 1rem;
  padding: 0.625rem;
}

.clearnotifications:hover {
  cursor: pointer;
  font-weight: 800;
}

@media only screen and (max-width: 37.938rem) {
  .leftCorner {
    margin-right: 10vw;
  }

  .title {
    font-size: 0.938rem;
    margin-right: 0.625rem;
  }

  .counter {
    width: 1.563rem;
    height: 1.563rem;
    padding: 0.125rem;
    font-size: 0.938rem;
  }
  .clearnotifications {
    font-size: 0.813rem;
    padding: 0.313rem;
  }
  .clearnotifications_selected {
    font-size: 0.813rem;
  }
}
